<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Tenemos a los mejores especialistas en el área."
    />
    <meta
      name="keywords"
      content="Inteligencia Artificial, Ciencia, Datos, Bases de datos"
    />
    <link rel="icon" type="image/x-icon" href="../img/favicon.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Colaboradores</title>
  </head>
  <body>
    <header class="encabezado">
      <h1>Colaboradores</h1>
      <nav
        class="navbar navbar-expand-lg bg-body-tertiary"
        data-bs-theme="dark"
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html">Inicio</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#"
                  >Colaboradores</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./contacto.html">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./nosotros.html">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./proyecto1.html">Proyectos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="colaboradores">
      <div class="colaborador">
        <img
          src="../img/Persona_1.jpg"
          alt="Colaboradores: Dra. Amanda"
          class="img_colab"
        />
        <p>
          La Dra. Amanda es la coordinadora de los equipos de trabajo, es
          especialista en ciencia de datos y gestión de proyectos, por lo que,
          su proyecto se desarrollará en en el tiempo estipulado y dentro del
          presupuesto asignado.
        </p>
      </div>
      <div class="colaborador">
        <img
          src="../img/Persona_2.jpg"
          alt="Colaboradores: Equipos de trabajo"
          class="img_colab"
        />
        <p>
          Contamos con especialistas del más alto nivel que han trabajado en
          proyectos grandes y para diversas instituciones tanto públicas como
          privadas. Los equipos de trabajo se forman dependiendo de las
          necesidades de su proyecto.
        </p>
      </div>
    </main>
    <footer class="pie">
      <a href="https://es-la.facebook.com/" target="_blank">
        <img src="../img/Facebook.png" alt="Facebook logo" id="facebook" />
      </a>
      <a href="https://www.youtube.com/" target="_blank">
        <img src="../img/Youtube.png" alt="Youtube logo" id="youtube" />
      </a>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
