<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap"
      rel="stylesheet"
    />
    <title>Colaboradores</title>
  </head>
  <body>
    <header class="encabezado">
      <h1>Colaboradores</h1>
      <nav class="menu">
        <ul>
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="/views/colaboradores.html">Colaboradores</a></li>
          <li><a href="/views/contacto.html">Contacto</a></li>
          <li><a href="/views/nosotros.html">Nosotros</a></li>
        </ul>
      </nav>
    </header>
    <main class="colaboradores">
      <div class="colaborador">
        <img src="/img/Persona_1.jpg" alt="" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis
          officiis voluptate eveniet! Beatae saepe error molestiae! Illum
          aspernatur quas et dicta, deleniti repellendus nihil sequi, molestias
          possimus, ab corporis animi!
        </p>
      </div>
      <div class="colaborador">
        <img src="/img/Persona_2.jpg" alt="" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
          mollitia molestiae amet odit velit ullam veritatis deserunt dolorum
          praesentium rerum harum voluptas aut, aperiam qui est minus fuga
          libero quas!
        </p>
      </div>
    </main>
    <footer class="pie">
      <img src="/img/Facebook.png" alt="Facebook logo" id="facebook" />
      <img src="/img/Youtube.png" alt="Youtube logo" id="youtube" />
    </footer>
  </body>
</html>
