<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Puedes contactarnos para que agendemos una cita."
    />
    <meta
      name="keywords"
      content="Inteligencia Artificial, Ciencia, Datos, Bases de datos"
    />
    <link rel="icon" type="image/x-icon" href="../img/favicon.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Contacto</title>
  </head>
  <body>
    <header class="encabezado">
      <h1>Contacto</h1>
      <nav
        class="navbar navbar-expand-lg bg-body-tertiary"
        data-bs-theme="dark"
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html">Inicio</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a
                  class="nav-link"
                  aria-current="page"
                  href="./colaboradores.html"
                  >Colaboradores</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./nosotros.html">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./proyecto1.html">Proyectos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="principal">
      <section class="destacados">
        <h2>Contáctanos</h2>
        <form action="" method="">
          <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Tu nombre"
            />
          </div>
          <div class="mb-3">
            <label for="mail" class="form-label">Correo electrónico</label>
            <input
              type="email"
              class="form-control"
              id="mail"
              placeholder="nombre@ejemplo.com"
            />
          </div>
          <div class="mb-3">
            <label for="msg" class="form-label">Tu mensaje</label>
            <textarea
              class="form-control"
              id="user_message"
              rows="3"
            ></textarea>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Enviar</button>
          </div>
        </form>
      </section>
      <section class="aside">
        <p>
          En este video, analizamos los raspadores web y el raspado web.
          Específicamente, cubriremos lo siguiente:
        </p>
        <ol>
          <li>Como escribir un web scraper.</li>
          <li>¿Qué es un web scraper?</li>
          <li>¿Quién usa web scrapers? y ¿por qué?</li>
          <li>¿Cómo los web scraper automatizan la recopilación de datos?</li>
          <li>
            ¿Cuáles son los lenguajes más comunes para web scraping (Python, JS
            usando Selenium)?
          </li>
          <li>
            ¿Qué herramientas se utilizan para automatizar el web scraping?
          </li>
          <li>
            ¿Cómo se compara una herramienta de web scraping con un script?
          </li>
        </ol>
        <iframe
          src="https://www.youtube.com/embed/WuV8QuWHTno"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
          class="video"
        ></iframe>
      </section>
    </main>
    <footer class="pie">
      <a href="https://es-la.facebook.com/" target="_blank">
        <img src="../img/Facebook.png" alt="Facebook logo" id="facebook" />
      </a>
      <a href="https://www.youtube.com/" target="_blank">
        <img src="../img/Youtube.png" alt="Youtube logo" id="youtube" />
      </a>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
